{% extends 'base.html' %}
{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-md-6 col-lg-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">Book din tid</h2>
                <form action="#" method="post">
                    <div class="mb-3">
                        <label for="date" class="form-label">Dato</label>
                        <input type="date" id="date" name="date" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="time" class="form-label">Tid</label>
                        <select name="time" class="form-select" required>
                            <option value="" disabled selected>Vælg en tid</option>
                            {% if selected_date %}
                                {% for time in available_times %}
                                    <option value="{{ time }}">{{ time }}</option>
                                {% endfor %}
                            {% endif %}
                            <!-- {% for time in available_slots %}
                                <option value="{{ time }}">{{ time }}</option>
                            {% endfor %} -->
                        </select>
                    </div>
                    <!-- <div class="mb-3">
                        <label for="angående" class="form-label">Angående</label>
                        <input type="text" name="angående" class="form-control">
                    </div> -->
                    <button type="submit" class="btn btn-primary w-100">Book nu</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('date').addEventListener('change', function() {
        var selectedDate = this.value;
        
        fetch(`/update_available_times?date=${selectedDate}`, {
            method: 'GET',
        })
        .then(response => response.json())
        .then(data => {
            var select = document.querySelector('select[name="time"]');
            select.innerHTML = '<option value="" disabled selected>Vælg en tid</option>';
            data.forEach(function(time) {
                var option = document.createElement('option');
                option.value = time;
                option.textContent = time;
                select.appendChild(option);
            });
        });
    });
</script>
{% endblock %}


