{% extends 'base.html' %}
{% block content %}
<div class="booking-div">
    <div class="booking-form">
        <h2>Book din tid</h2>
        <form action="#" method="post">
            <div class="input-group">
                <i class=""></i>
                <input type="date" name="date" required>
            </div>
            <div class="input-group">
                <i class=""></i>
                <input type="time" name="time" required>
            </div>
            <div class="input-group">
                <i class=""></i>
                <input type="text" placeholder="Angående">
                
            </div>
            <button type="submit">Book nu</button>

        </form>

    </div>
</div>
{% endblock %}


