{% extends "base.html" %}
{% block title %}Læge register{% endblock %}
{% block content %}
<form method="POST">
    <h3 class="fw-bold text-center">Lav en læge bruger</h3>
    <a href="{{ url_for('views.home') }}" class="btn btn-secondary mb-3">
        <i class="bi bi-arrow-left"></i> Tilbage
    </a>
    <div class="mb-3">
        <label for="first_name_label">Fornavn</label>
        <input type="first_name_type" name="first_name_name" id="first_name_id" class="form-control" placeholder="Indtast dit fornavn">
    </div>
    <div class="mb-3">
        <label for="last_name_label">Efternavn</label>
        <input type="last_name_type" name="last_name_name" id="last_name_id" class="form-control" placeholder="Indtast dit efternavn">
    </div>
    <div class="mb-3">
        <label for="username_label">Brugernavn</label>
        <input type="username_type" name="username_name" id="username_id" class="form-control" placeholder="Indtast dit valgte brugernavn">
    </div>
    <div class="mb-3">
        <label for="phone_label">Mobil</label>
        <input type="phone_type" name="phone_name" id="phone_id" class="form-control" placeholder="Indtast dit mobil nummer">
    </div>

    <div class="mb-3">
        <label for="password_label">Adgangskode</label>
        <input type="password" name="password_name" id="password_id" class="form-control" placeholder="Indtast din adgangskode">
        <ul class="mt-2">
            <li>Adgangskoden skal være mindst 10 tegn lang.</li>
            <li>Adgangskoden skal indeholde mindst ét stort bogstav.</li>
            <li>Adgangskoden skal indeholde mindst ét lille bogstav.</li>
            <li>Adgangskoden skal indeholde mindst ét specialtegn.</li>
            <li>Indeholde mindst ét tal</li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="password_label_2">Bekræft adgangskode</label>
        <input type="password" name="password_name_confirm" id="password_id_2" class="form-control" placeholder="Bekræft din adgangskode">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endblock %}