{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center" class="fw-bold">Læge login</h3>
    <div class="mb-3">
        <label for="email_label">E-mail</label>
        <input type="email_type" name="email_name" id="email_id" class="form-control" placeholder="Tast din e-mail ind">
    </div>  
    <div class="mb-3">
        <label for="password_label">Adgangskode</label>
        <input type="password_type" name="password_name" id="password_id" class="form-control" placeholder="Adgangskode">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}