{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<form method="POST">
    <h3 align="center" class="fw-bold">Patient Login</h3>
    <div class="mb-3">
        <label for="cpr_number">CPR-Nummer</label>
        <input type="cpr_number" name="cpr_number" id="cpr_number" class="form-control" placeholder="Tast dit CPR nummer ind">
    </div>  
    <div class="mb-3">
        <label for="password">Adgangskode</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Adgangskode">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}