* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

.booking-div {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
}

.booking-form {
  background: #fff;
  border-radius: 12px;
  padding: 40px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  text-align: center;
}

.booking-form h2 {
  margin-bottom: 20px;
  color: #333;
  font-weight: 600;
}

/* .input-group {
  position: relative;
  margin-bottom: 20px;
} */

.input-group {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.input-group input{
  width: 100%;
  height: 80px; /* Sørg for, at højden er passende */
  padding: 0 15px; /* Giver plads til indhold */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  text-align: center; /* Centrerer tekst vandret */
  display: flex;
  align-items: center; /* Centrerer tekst lodret */
  justify-content: center;
  box-sizing: border-box; /* Sørger for, at padding ikke ændrer størrelse */
}

/* .input-group i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 1.1rem;
} */

.input-group i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 1.1rem;
}